# Ignore all node_modules everywhere
node_modules/

# Ignore environment files
.env
backend/.env
frontend/.env

# Build folders
build/
dist/

# Logs
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
